<article id="<%= page.layout %>-<%= page.slug %>" class="post page">
	<header class="entry-header">
		<%- partial('_partial/post/title', {class_name: 'article-title', post:page, index: false}) %>
	</header>
	<div class="entry-content">
		<% if (page.excerpt && index){ %>
			<%- page.excerpt %>
			<% if (theme.excerpt_link){ %>
				<p class="article-more-link">
					<a href="<%- config.root %><%- page.path %>#more"><%= theme.excerpt_link %></a>
				</p>
      <% } %>
    <% } else { %>
    	<%- page.content %>
    <% } %>
	</div>
</article>
